@{
    ViewBag.Title = "BlackFox Software Ltd";
}

    <div>
        <br />
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
    </div>


<div>
    <br />
    <p>
        BlackFox Software Ltd on kansainvälinen osto- ja myyntireskontrasovelluksiin, hallinta- ja toiminnanohjausjärjestelmiin erikoistunut yritys.
        Yrityksen arvoihin kuuluvat helppokäyttöisyys ja laatu. Meille tärkeää on asiakaspalvelun tavoitettavuus ja jatkuvuus ohjelman koko elinkaaren
        ajan.
    </p>

    <p>
        Ohjelmisto- ja järjestelmäasioissa autamme teitä mielellämme klo 8-16 asiakaspalvelupisteissämme sekä valtakunnallisessa puhelinpalvelussamme
        029 321 1234. Tekninen tuki palvelee ympärivuorokautisesti palvelunumerossamme 029 311 1235.
    </p>
</div>