@{
    ViewBag.Title = "Yhteystiedot";
}

    <div>
        <br />
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
    </div>

    <div>
        <br />
        <address>
            Blackfox Software Ltd<br />
            Kaisakatu 6, <br />
            00100 Helsinki<br />
            <abbr title="Phone">P:</abbr>
            029 133 0100
        </address>

        <address>
            <strong>Tekninen tuki:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>